@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Admin Dashboard";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>KAYIT OL</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Anasayfa</a></li>
                        <li class="breadcrumb-item active">Kayıt Ol</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- jquery validation -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Kayıt Ol</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form id="quickForm" asp-controller="ApplicationUser" asp-action="SignUp" method="POST">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="exampleInputName1">İsim</label>
                                    <input type="text" name="name" class="form-control" id="exampleInputName1" placeholder="İsminizi girin">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputLastname1">Soyisim</label>
                                    <input type="text" name="lastname" class="form-control" id="exampleInputLastname1" placeholder="Soyisminizi girin">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputUsername1">Kullanıcı Adı</label>
                                    <input type="text" name="username" class="form-control" id="exampleInputUsername1" placeholder="Kullanıcı adınızı girin">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email</label>
                                    <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Emailinizi girin">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPhone1">Telefon</label>
                                    <input type="tel" name="phone" class="form-control" id="exampleInputPhone1" placeholder="Telefon numaranızı girin">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Şifre</label>
                                    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Şifrenizi girin">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPasswordConfirm1">Şifre Doğrulama</label>
                                    <input type="password" name="passwordConfirm" class="form-control" id="exampleInputPasswordConfirm1" placeholder="Şifrenizi tekrar girin">
                                </div>
                                @* 
                                <div class="form-group mb-0">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" name="terms" class="custom-control-input" id="exampleCheck1">
                                        <label class="custom-control-label" for="exampleCheck1">I agree to the <a href="#">terms of service</a>.</label>
                                    </div>
                                </div> *@
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Kayıt Ol</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
                <!--/.col (left) -->
                <!-- right column -->
                <div class="col-md-6">
                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->