<div class="formbold-input-group">
    <label for="name" class="formbold-form-label"> İsim </label>
    <input type="text"
           name="name"
           id="name"
           placeholder="İsminizi giriniz"
           class="formbold-form-input" />
</div>

<div class="formbold-input-group">
    <label for="name" class="formbold-form-label"> Soyisim </label>
    <input type="text"
           name="lastname"
           id="lastname"
           placeholder="Soyisminizi giriniz"
           class="formbold-form-input" />
</div>

<div class="formbold-input-group">
    <label for="email" class="formbold-form-label"> Email </label>
    <input type="email"
           name="email"
           id="email"
           placeholder="Mail adresinizi giriniz"
           class="formbold-form-input" />
</div>

<div class="formbold-input-group">
    <label for="phone" class="formbold-form-label"> Telefon </label>
    <input type="tel"
           name="phone"
           id="phone"
           placeholder="Telefon numaranızı giriniz"
           class="formbold-form-input"
           pattern="\d[0-9]{3} \d[0-9]{3} \d[0-9]{2} \d[0-9]{2}"
           title="10 hane olarak giriniz. Örnek 555 555 55 55" 
           maxlength="10"
           required />
</div>
